{% extends "/home/base.html" %}

{% block extrahead %}
<script src="/static/home/datatables/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="/static/home/datatables/css/jquery.dataTables.min.css">
{% endblock extrahead %}

{% block css %}
.clickable {
    cursor: pointer;
}
.no-clickable,.no-clickable:hover{
    color: black;
    cursor: not-allowed;
}
{% endblock css %}

{% if expediente %}
{% block sitebar %}
<li>
    <a class="active" href="/home/expediente"><i class="fa fa-dashboard fa-fw"></i> Consulta de Expedientes</a>
</li>
{% for s in expediente.render_data %}
<li>
    <a href="#"><i class="fa fa-sitemap fa-fw"></i> {{ s.name }}<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse">
    {% for p in s.productos %}
        <li>
            <a href="#">{{ p.numero }}<span class="fa arrow"></span></a>
            <ul class="nav nav-third-level collapse">
            {% for d in p.documentos %}
                <li>
                    <a
                        {% if d.con_imagen %}
                        onclick='mostrar("{{ d.url }}")'
                        class="clickable"
                        {% else%}
                        class="no-clickable"
                        {% endif %}>
                        {{ d.indice }} {{ d.nombre }}</a>
                </li>
            {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>
</li>
{% endfor %}
{% endblock sitebar %}
{% endif %}

{% block content %}
{% if expediente %}
<div id="documento"></div>
<div class="form-group">
    <label for="codigo">Codigo del Cliente</label>
    <input type="text" class="form-control" id="codigo" placeholder="CODIGO" readonly name="codigo" value="{{expediente.codigo}}">
</div>
<div class="form-group">
    <label for="nombre">Nombre</label>
    <input type="text" class="form-control" id="nombre" placeholder="NOMBRE" name="nombre" readonly value="{{expediente.nombre}}">
</div>
<div class="form-group">
    <label for="identificacion">Identificacion</label>
    <input type="text" class="form-control" id="identificacion" placeholder="IDENTIFICACION" name="identificacion" readonly value="{{expediente.identificacion}}">
</div>
{% else %}
<div class="row">
    <div class="col-sm-12">
        <br/>
        <div class="panel panel-default" id="documento">
            <div class="panel-heading">
                Listado de Expedientes Digitalizados
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table id="table" class="display" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Codigo</th>
                            <th>Nombre</th>
                            <th>Identificacion</th>
                            <th>Tipo</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Codigo</th>
                            <th>Nombre</th>
                            <th>Identificacion</th>
                            <th>Tipo</th>
                        </tr>
                    </tfoot>
                </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</div>
</div>
{% endif %}
{% endblock content %}

{% block javascript %}
function mostrar(ruta){
    var panel  = $('#documento').empty();
    if (ruta!="#") {
        panel.append('<iframe src="'+ ruta +'" width="100%" height="1000"></iframe>');
    }
}
var ver_expediente = function(){
    window.location.href = "/home/expediente/?id=" + $(this).find('td').html();
}
$(document).on('ready', function(){
    $('#table').DataTable( {
        "ajax": "/home/tableExpediente/",
        "columns": [
            { "data": "id" },
            { "data": "codigo" },
            { "data": "nombre" },
            { "data": "identificacion" },
            { "data": "tipo" }
        ]
    } );
    $("#table").on("dblclick", "tbody tr", ver_expediente);
});

{% endblock javascript %}

