{% extends "/home/base.html" %}

{% block extrahead %}
<script src="/static/home/datatables/js/jquery.dataTables.min.js"></script>
<script src="/static/home/datatables/js/dataTables.buttons.min.js"></script>
<link rel="stylesheet" href="/static/home/datatables/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="/static/home/datatables/css/buttons.dataTables.min.css">

<script src="/static/home/datatables/js/buttons.flash.min.js"></script>
<script src="/static/home/datatables/js/jszip.min.js"></script>

<script src="/static/home/datatables/js/pdfmake.min.js"></script>
<script src="/static/home/datatables/js/vfs_fonts.js"></script>
<script src="/static/home/datatables/js/buttons.html5.min.js"></script>
<script src="/static/home/datatables/js/buttons.print.min.js"></script>


{% endblock extrahead %}

{% block css %}
.clickable {
    cursor: pointer;
}
.no-clickable, .no-clickable:hover{
    color: black !important;
    cursor: not-allowed;
}
{% endblock css %}
{% block tareas %}
<li>
    <a href="#">
        <div>
            <p>
                <strong>Imagenes Procesadas</strong>
                <span class="pull-right text-muted">{{ estadisticas.avance }}% Complete</span>
            </p>
            <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ estadisticas.avance }}" aria-valuemin="0" aria-valuemax="100"
                    style="width: {{ estadisticas.avance }}%">
                    <span class="sr-only">{{ estadisticas.avance }}% Complete (success)</span>
                </div>
            </div>
        </div>
    </a>
</li>
{% endblock tareas %}

{% if expediente %}
{% block sitebar %}
<li>
    <a class="active" href="/home/expediente"><i class="fa fa-dashboard fa-fw"></i> Consulta de Expedientes</a>
</li>
{% for s in expediente.render_data %}
<li>
    <a href="#"><i class="fa fa-sitemap fa-fw"></i> {{ s.name }}<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse">
    {% for p in s.productos %}
        <li>
            <a href="#">{{ p.numero }}<span class="fa arrow"></span></a>
            <ul class="nav nav-third-level collapse">
            {% for d in p.documentos %}
                <li>
                    <a
                        {% if d.con_imagen %}
                        onclick='mostrar("{{ d.url }}")'
                        class="clickable"
                        {% else%}
                        class="no-clickable"
                        {% endif %}>
                        {{ d.indice }} {{ d.nombre }}</a>
                </li>
            {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>
</li>
{% endfor %}
{% endblock sitebar %}
{% endif %}

{% block content %}
{% if expediente %}
<div id="documento">
    <div class="form-group">
        <label for="codigo">Codigo del Cliente</label>
        <input type="text" class="form-control" id="codigo" placeholder="CODIGO" readonly name="codigo" value="{{expediente.codigo}}">
    </div>
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" placeholder="NOMBRE" name="nombre" readonly value="{{expediente.nombre}}">
    </div>
    <div class="form-group">
        <label for="identificacion">Identificacion</label>
        <input type="text" class="form-control" id="identificacion" placeholder="IDENTIFICACION" name="identificacion" readonly value="{{expediente.identificacion}}">
    </div>
</div>
{% else %}
<div class="row">
    <div class="col-sm-12">
        <br/>
        <div class="panel panel-default" id="documento">
            <div class="panel-heading">
                Listado de Expedientes Digitalizados
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table id="table" class="display" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>Nombre</th>
                            <th>Identificacion</th>
                            <th>Tipo</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Codigo</th>
                            <th>Nombre</th>
                            <th>Identificacion</th>
                            <th>Tipo</th>
                        </tr>
                    </tfoot>
                </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</div>
</div>
{% endif %}
{% endblock content %}

{% block javascript %}
function mostrar(ruta){
    var panel  = $('#documento').empty();
    if (ruta!="#") {
        panel.append('<iframe src="'+ ruta +'" width="100%" height="'+ventana_alto * 0.9+'"></iframe>');
    }
}
var ver_expediente = function(){
    window.location.href = "/home/expediente/?codigo=" + $(this).find('td').html();
}
$(document).on('ready', function(){
    $('#table').DataTable( {
        "ajax": "/home/tableExpediente/",
        "columns": [
            { "data": "codigo" },
            { "data": "nombre" },
            { "data": "identificacion" },
            { "data": "tipo" }
        ],
        "dom": "Bfrtip",
        "lengthMenu": [
            [ 10, 25, 50, -1 ],
            [ '10 rows', '25 rows', '50 rows', 'Show all' ]
        ],
        "buttons": ['pageLength', 'excel', 'pdf']
    } );
    $("#table").on("click", "tbody tr", ver_expediente);
});

{% endblock javascript %}

