{% extends "/home/base.html" %}

{% block extrahead %}
<link href="/static/segdel/css/segdel.css" rel="stylesheet">
{% endblock %}
{% block css %}

{% endblock css %}

{% block logo %}
<a class="navbar-brand" href="/">
<img src="/static/segdel/images/logo.png" class="logo"/> Seguridad Delta</a>
{% endblock logo %}

{% block content %}

{% endblock %}

{% block sitebar %}
<li>
    <a class="" href="/segdel/telecobranza/">
        <i class="fa fa-dashboard fa-fw"></i> Telecobranza
    </a>
</li>
{% endblock sitebar %}


{% block javascript %}

{% endblock javascript %}