{% extends "admin/change_form.html"%}

{% block extrastyle %}
<style>
    .evaluacion select{
        min-width: 300px;
        margin-left: 150px;
    }
    .evaluacion label{
        min-width: 300px;
    }
</style>
{% endblock %}
{% block extrahead %}
<script type="text/javascript">
    (function($) {
        $(document).ready(function(){
            $('#id_puntaje').attr('readonly', true);
            var evaluacion = function(campo){
                if ($('#'+campo).val() == ""){
                    return 0;
                } else{
                    return parseInt($('#'+campo).val());
                }
            }

            var evaluar = function(){
                var puntaje = evaluacion('id_importacia');
                puntaje +=  evaluacion('id_complejidad');
                puntaje +=  evaluacion('id_reemplazo');
                puntaje +=  evaluacion('id_credito');
                puntaje +=  evaluacion('id_anual');
                puntaje +=  evaluacion('id_incumplimiento');
                puntaje +=  evaluacion('id_actividad');
                puntaje +=  evaluacion('id_recurrente');
                puntaje +=  evaluacion('id_transversal');
                puntaje +=  evaluacion('id_incidencia');
                puntaje +=  evaluacion('id_multicontrato');
                puntaje +=  evaluacion('id_marco');
                $('#id_puntaje').val(puntaje);
            }

            $('.evaluacion select').on('change', evaluar);
            evaluar();
        });
    })(grp.jQuery)
</script>
{% endblock %}

