{% extends "admin/change_form.html" %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block content %}

<h3>{{ header_tittle }}</h3>

<form action="" method="post">

    {% csrf_token %}
    {% if not dias %}
    {{form}}
    <input type="submit" name="calcular" value="Calcular" />
    <p>{{ explanation }}</p>
    <ul>{{ queryset|unordered_list }}</ul>
    {% endif %}
    {% if dias %}
    <table>
      <thead>
        <tr>
          <th>
            Cedula
          </th>
          <th>
            Nombre
          </th>
          <th>
            Salario Mensual
          </th>
          <th>
            Tarifa Diaria
          </th>
          <th>
            Importe
          </th>
          <th>
            IR 10%
          </th>
          <th>
            Deduciones
          </th>
          <th>
            Neto Recibir
          </th>
        </tr>
      </thead>
      <tbody>
        {% for q in queryset %}
        <tr>
          <td>
            <input type="hidden" name="id" value="{{ q.id }}">
            {{ q.cedula }}
          </td>
          <td>
            {{ q.nombre }}
          </td>
          <td>
            {{ q.salario }}
          </td>
          <td>
            {{ q.tarifa }}
          </td>
          <td class="importe">
            <input type="input" name="importe" value="{{ q.importe }}">
          </td>
          <td class="retension">
            <input type="input" name="retension" value="{{ q.retension }}">

          </td>
          <td class="deducciones">
            <input type="input" name="deducciones" value="{{ q.deducciones }}">
          </td>
          <td class="monto">
            <input type="input" name="monto" value="{{ q.monto }}">
          </td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th class="importe">0.0</th>
          <th class="retension">0.0</th>
          <th class="deducciones">0.0</th>
          <th class="monto">0.0</th>
        </tr>
      </tfoot>
    </table>
    <p>{{ explanation }}</p>
    <input type="submit" name="aplicar" value="Aplicar" />
    {% endif%}
    <input type="hidden" name="action" value="{{ action }}" />
</form>

{% endblock %}
